html {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    text-decoration: none;
}

.row {
    display: flex;
    justify-content: center;
    align-items: stretch;
    flex-direction: row;
    background: skyblue;
    width: 100%;
}

.cell {
    display: flex;
    justify-content: space-around;
    align-items: stretch;
    background: deepskyblue;
    width: 75px;
}

#matrix {
    margin: 1rem;
    border: 1px solid black;
    background: lightgrey;
}

#original {
    background: orange;
    overflow: auto;
    padding: 2px;
}

#answer {
    background: orange;
    overflow: auto;
    padding: 4px;
}

#outputWrap {
    border: 2px solid black;
    margin: 1rem;
}

#formWrapper {
   display: flex;
   justify-content: center;
   padding-bottom: 2rem;
   padding-top: 1rem;
}

#wrapper {
    margin: 0 auto;
}

a:hover {
    color: salmon;
}

a:visited {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}

a:link {
    text-decoration: none;
}

html {
    font-size: 18px;
    background: whitesmoke;
    padding-left: 2rem;
    
}

body {
    width: 95vw;
    text-decoration: none;
}
